body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Vazir-Black";
  src: local("Vazir-Black"), url(./assets/fonts/Vazir-Black-FD.ttf) format("truetype");
}

@font-face {
  font-family: "Vazir-Light";
  src: local("Vazir-Light"), url(./assets/fonts/Vazir-Light-FD.ttf) format("truetype");
}

@font-face {
  font-family: "Vazir-Medium";
  src: local("Vazir-Medium"), url(./assets/fonts/Vazir-Medium-FD.ttf) format("");
}

@font-face {
  font-family: "Vazir-Thin";
  src: local("Vazir-Thin"), url(./assets/fonts/Vazir-Thin-FD.ttf) format("truetype");
}

@font-face {
  font-family: "Vazir-Bold";
  src: local("Vazir-Bold"), url(./assets/fonts/Vazir-Bold-FD.ttf) format("truetype");
}

@font-face {
  font-family: "Vazir";
  src: local("Vazir"), url(./assets/fonts/Vazir-FD.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
